
.table{
    max-width: 80%;
    margin-left: 10%;
    /*cursor: pointer;*/
    margin-top: 20px;


    background: linear-gradient(
           to top,
           white ,
         #e7e7e7 50%,
         white 50%,
           white
          /*#eeebeb*/
    );
    /* Прямоугольник, в котором нужно повторить.*/
    /*    В этом случае он может быть полностью широким.*/
    background-size: 100%  100px;
}

.pagination {
    display: flex;
     /*padding-left: 0;*/
    justify-content: center;
    list-style: none;
    border-radius: 0.25rem;
    cursor: unset;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-item.disabled {
    cursor: not-allowed ;
}

